<div class="col-12 m-0">
<h1 class="line-break" lang="ru">Пользовательское соглашение</h1>
<h3>Согласие субъекта персональных данных на обработку его персональных данных</h3>
<ol>
<li>Настоящее согласие предоставляется физическим лицом-субъектом персональных данных  (далее – Субъект персональных данных; Пользователь) в целях обработки его персональных данных владельцем сайта cult.shop - ООО "ВЕБ-КУЛЬТ" (ОГРН 1203600040930, ИНН 3666254028, адрес: г. Воронеж, ул. Фридриха Энгельса, д. 7а, литер А1, помещение XI, оф. 5-2).</li>
<li>
Субъект персональных данных выражает согласие на обработку его персональных данных,  проставляя "галочку" в соответствующем поле "Я даю согласие на обработку моих персональных данных", в частности субъект персональных данных:
<ul>
<li>подтверждает, что все указанные им данные принадлежат лично ему;</li>
<li>подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение об использовании Сайта Маркетплейс и Политика в сфере обработки персональных данных, и Субъект персональных данных согласен на обработку его персональных данных в соответствии с указанными документами и в целях, указанных в них;</li>
<li>дает согласие на обработку Владельцем Сайта Маркетплейс предоставляемых в составе информации персональных данных;</li>
<li>дает согласие на направление уведомлений об изменении заказов, предложений и другой информации;</li>
<li>дает согласие на направление информации о товарах и услугах, которые, по мнению Владельца Сайта Маркетплейс, могут представлять интерес;</li>
<li>дает согласие на проведение опросов и маркетинговых, статистических и других исследований;</li>
<li>дает согласие на получение новостной рассылки и иных сведений от имени Владельца Сайта Маркетплейс или от имени его партнеров;</li>
<li>выражает согласие с условиями обработки персональных данных;</li>
<li>дает свое согласие на передачу своих персональных данных третьим лицам в той мере, в которой это необходимо для исполнения Договоров купли-продажи, а также исполнения обязательств по Договорам (соглашениям) с Владельцем сайт Маркетплейс.</li>
</ul>
</li>
<li>Субъект персональных данных выражает свое согласие на обработку его персональных данных, а именно совершение любых действий (операций) или совокупности действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
<li>Давая такое согласие, Субъект персональных данных  подтверждает, что он действует свободно, своей волей и в своем интересе.</li>
<li>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</li>
<li>
Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Покупателя, такая как:
<ul>
<li>фамилия, имя, отчество;</li>
<li>дата рождения;</li>
<li>контактный телефон;</li>
<li>адрес электронной почты;</li>
<li>почтовый адрес;</li>
<li>данные банковских карт;</li>
<li>иные сведения и информация</li>
</ul>
</li>
<li>
Владелец Сайта Маркетплейс обрабатывает и использует персональные данные Пользователя в целях:
<ul>
<li>идентификации Пользователя, зарегистрированного на сайте Маркетплейс, для оформления заказа и (или) заключения договора купли-продажи товара дистанционным способом с Продавцом;</li>
<li>для передачи необходимых персональных данных Продавцам для исполнения Договоров купли-продажи;</li>
<li>для приема платежей от Пользователей;</li>
<li>предоставления Пользователю доступа к персонализированным ресурсам сайта Маркетплейс;</li>
<li>установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя;</li>
<li>создания Личного кабинета  и возможности его использования;</li>
<li>уведомления Пользователя сайта о состоянии заказа;</li>
<li>предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта;</li>
<li>предоставления Пользователю специальных предложений, информации о ценах, новостной рассылки и иных сведений;</li>
<li>осуществление рекламной деятельности;</li>
<li>в иных целях, установленных Политикой в сфере обработки персональных данных и Соглашении об использовании Сайта Маркетплейс.</li>
</ul>
</li>
<li>Пользователь вправе в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию в личном кабинете в части Ф.&nbsp;И.&nbsp;О., номера телефона, пароля, адреса для доставки заказов.</li>
<li>Владелец Сайта Маркетплейс не проверяет достоверность предоставленной Пользователем персональной информации и не осуществляет контроль её актуальности.</li>
Владелец Сайта Маркетплейс исходит из того, что Пользователь предоставляет достоверную персональную информацию и поддерживает эту информацию в актуальном состоянии.
Всю ответственность, а также возможные последствия предоставления недостоверной или неактуальной персональной информации несёт Пользователь.
<li>Пользователь вправе отказаться от рекламных рассылок по номеру мобильного телефона и/или адресу электронной почты в любое время.</li>
<li>Согласие на обработку персональных данных может быть отозвано Пользователем на сайте Маркетплейс через Личный кабинет или форму обратной связи, указав Ф.&nbsp;И.&nbsp;О. и номер телефона.</li>
<li>Настоящее согласие действует 10 (десять) лет.</li>
</ol>
</div>